{#
/**
 * @file
 * Theme implementation to display a Draggable Mapper.
 *
 * Available variables:
 * - draggable_mapper: The Draggable Mapper.
 * - map_image_url: URL to the map image.
 * - map_alt: map image alt text
 * - markers: Array of marker data with title, coordinates and optional images/descriptions.
 * - content: All items for this entity.
 * - title: The title of the entity.
 * - view_mode: The view mode of the entity.
 *
 * @see template_preprocess_draggable_mapper()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('draggable-mapper-entity') }}>
  {% if title %}
    {# Use h1 for full view mode, h2 for all other cases #}
    {% if view_mode == 'full' %}
      <h1 class="draggable-mapper-entity__title">{{ title }}</h1>
    {% else %}
      <h2 class="draggable-mapper-entity__title">{{ title }}</h2>
    {% endif %}
  {% endif %}
  
  {% if content %}
    {% if map_image_url %}
      <div class="dme-container">
        <div class="dme-container-wrapper">
          <div class="dme-image">
            <img src="{{ map_image_url }}" alt="{{ map_alt }}" class="dme-map-image" />
          </div>
          
          {% if markers %}
            {% for marker in markers %}
              <div class="dme-marker dme-mapped-marker{% if marker.icon_url %} dme-marker-icon{% endif %}" 
                    style="left: {{ marker.x }}%; top: {{ marker.y }}%; width: {{ marker.width }}%; height: {{ marker.height }}%;"
                    {% if marker.icon_url and marker.title %}title="{{ marker.title }}"{% endif %}
                    {% if marker.description %}data-has-description="true" data-marker-id="{{ loop.index }}"{% endif %}>
                <div class="dme-marker-wrapper">
                  {% if marker.icon_url %}
                    <img src="{{ marker.icon_url }}" alt="{{ marker.icon_alt }}" />
                  {% else %}
                    {{ marker.title }}
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            
            {# Render all modals outside the marker loop #}
            {% for marker in markers %}
              {% if marker.description %}
                <div id="dme-marker-modal-{{ loop.index }}" class="dme-marker-modal" style="display: none;">
                  <div class="dme-modal-content">
                    <span class="dme-modal-close">&times;</span>
                    <h3>{{ marker.title }}</h3>
                    <div class="dme-modal-body">{{ marker.description }}</div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    {% endif %}

  {% endif %}
</div>
